src/tables.rs linguist-generated
tests/fst/id_continue.fst linguist-generated
tests/fst/id_start.fst linguist-generated
tests/tables/tables.rs linguist-generated
tests/trie/trie.rs linguist-generated
